﻿<!DOCTYPE HTML>
<html lang="en" ng-app='TeamStuff' ng-controller="mainCtrl as mactrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devrecords Employee Stuff</title>

    <!-- STYLE / THEME -->
    <link href="~/Scripts/lib/animate.css/animate.css" rel="stylesheet" />
    <link href="~/Scripts/lib/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-loading-bar/loading-bar.css" rel="stylesheet" />
    <link href="~/Scripts/lib/malihu-custom-scrollbar/jquery.mcustomscrollbar.min.css" rel="stylesheet" />

    @*<link href="~/lib/boostrap-datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
        <link href="~/lib/chosen/chosen.min.css" rel="stylesheet"/>*@

    <link href="~/Content/css/app.min.1.css" rel="stylesheet" id="app-level" />
    <link href="~/Content/css/app.min.2.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.min.css" rel="stylesheet" />
    <link href="~/Content/css/toaster.css" rel="stylesheet" />



</head>
<body ng-class="{ 'sw-toggled': mactrl.layoutType === '1'}">

    @RenderBody()

    <!-- LIBRARIES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="~/Scripts/lib/angular/angular.js"></script>
    <script src="~/Scripts/lib/angular-animate/angular-animate.js"></script>
    <script src="~/Scripts/lib/angular-resource/angular-resource.js"></script>

    <script src="~/Scripts/lib/ui-router/angular-ui-router.js"></script>
    <script src="~/Scripts/lib/angular-loading-bar/loading-bar.js"></script>
    <script src="~/Scripts/lib/oclazyload/oclazyload.js"></script>
    <script src="~/Scripts/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    @*<script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>*@

    <script src="~/Scripts/lib/malihu-custom-scrollbar/jquery.mcustomscrollbar.concat.min.js"></script>
    <script src="~/Scripts/lib/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="~/Scripts/lib/waves/waves.min.js"></script>
    <script src="~/Scripts/lib/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/lib/ng-table/ng-table.min.js"></script>

    <script src="~/Scripts/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/nganimate-animate.css/animate.js"></script>
    <script src="~/Scripts/lib/underscore/underscore.js"></script>
    <script src="~/Scripts/lib/moment/moment.js"></script>
    <script src="~/Scripts/lib/angular-messages/angular-messages.js"></script>
    <script src="~/Scripts/lib/angular-nouislider/nouislider.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.0/mask.min.js"></script>
    <script src="~/Scripts/lib/angularjs-toaster/toaster.min.js"></script>
    @*<script src="~/Scripts/lib/boostrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/Scripts/lib/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/lib/chosen/chosen.js"></script>
    <script src="~/Scripts/lib/angular-elastic-master/elastic.js"></script>

    <!-- THIS APP. -->
    <script src="~/Scripts/app/App.js"></script>
    <script src="~/Scripts/app/api.js"></script>

    <script src="~/Scripts/app/ctrl/main.js"></script>
    <script src="~/Scripts/app/directives/bp-dropdown.js"></script>
    <script src="~/Scripts/app/directives/mobile-phone-filter.js"></script>
    <script src="~/Scripts/app/directives/use-default.js"></script>
    <script src="~/Scripts/app/common/services.js"></script>
    <script src="~/Scripts/app/directives/ui.js"></script>
    <script src="~/Scripts/app/directives/form.js"></script>
    <script src="~/Scripts/app/directives/total-salary.js"></script>
    <script src="~/Scripts/app/directives/date-wrapper.js"></script>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <script src="~/Scripts/app/route.admin.js"></script>
            <script src="~/Scripts/app/views/admin/new-employee.js"></script>
            <script src="~/Scripts/app/views/admin/employees.js"></script>
            <script src="~/Scripts/app/views/admin/edit-employee.js"></script>
            <script src="~/Scripts/app/views/admin/rates.js"></script>
            <script src="~/Scripts/app/views/admin/vacations.js"></script>
            <script src="~/Scripts/app/views/admin/salary.js"></script>
            <script src="~/Scripts/app/views/admin/reports.js"></script>
        }
        else
        {
            <script src="~/Scripts/app/route.user.js"></script>
            <script src="~/Scripts/app/views/user/profile.js"></script>
            <script src="~/Scripts/app/views/user/profile-rate.js"></script>
            <script src="~/Scripts/app/views/user/profile-salary.js"></script>
            <script src="~/Scripts/app/views/user/profile-dayoff.js"></script>
            <script src="~/Scripts/app/views/user/report.js"></script>
        }
    }


</body>
</html>
