﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<toaster-container toaster-options="{'close-button': true }"></toaster-container>


<header id="header" data-current-skin={{mactrl.currentSkin}} ng-include="'Scripts/app/templates/header-menu.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" ng-include="'Scripts/app/templates/user-sidebar.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">
        <div class="container c-alt">
            <div ui-view class="fade-view"><!-- VIEWS --></div>
        </div>
    </section>
</section>

<footer id="footer" ng-include=""></footer>
