<div class="block-header">
    <h2><i class="fa fa-users m-r-5"></i>Employees</h2>
</div>
<div class="card" ng-controller="EmployeesController as vm">
    <div class="card-header ch-alt m-b-20">
        <h2>Manage employees stuff<small>You may check, evaluate an employee rate, edit employee information and add new.</small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

        <button ui-sref="employeenew" class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
    </div>

    <div class="card-body card-padding">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Birthday</th>
                <th>Phone Number</th>
                <th>Hired At</th>
                <th>Dismissed At</th>
                <th>Current Rate</th>
                <th>Action</th>
            </tr>
            </thead>
            <tr ng-repeat="item in vm.employees" ng-class="{'warning c-white': !!item.dismissAt }">
                <td>{{$index + 1}}</td>
                <td><i class="fa fa-user m-r-5"></i>{{item.firstName}} {{item.lastName}}</td>
                <td>{{item.birthday | date : 'yyyy-MM-dd' }}</td>
                <td>{{item.mobilePhone | mobile}}</td>
                <td>{{item.hiredAt | date : 'yyyy-MM-dd'}}</td>
                <td>{{item.dismissAt | date : 'yyyy-MM-dd'}}</td>
                <td>${{item.salaryRate}}</td>
                <td>
                    <button class="btn btn-primary btn-sm btn-flat" ui-sref="employeeedit({id: item.id})">Edit</button>
                    <button class="btn btn-primary btn-sm btn-flat" ui-sref="rates({employeeId: item.id})"><i class="fa fa-info m-r-5"></i>Rate history</button>
                </td>
            </tr>
        </table>
    </div>
</div>