<div class="block-header">
    <h2><i class="fa fa-user m-r-5"></i>Add New Employee</h2>
</div>
<div class="card" ng-controller="newEmployeeCtrl as vm">
    <div class="card-header ch-alt m-b-20">
        <h2>Add new employee<small></small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding" >
        <div class="row">
            <div ng-include="'app/templates/employee-form.html'"></div>
        </div>

    </div>
</div>