﻿<div class="block-header">
    <h2><i class="fa fa-users m-r-5"></i>Salary Rate History</h2>
</div>
<div class="card" ng-controller="ratesCtrl as vm">
    <div class="card-header ch-alt m-b-20">
        <h2>Manage employee rate<small>You may evaluate employee rate or remove rate information.</small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="btn bgm-orange btn-float" ng-click="vm.open()"><i class="zmdi zmdi-check"></i></button>
    </div>

    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="m-r-10 pull-left f-300"><i class="fa fa-user m-r-5"></i>Employee</h4>
                <h4 class="m-r-20 pull-left">{{vm.employee.firstName}} {{vm.employee.lastName}}</h4>
                <h4 class="m-r-10 pull-left f-300"><i class="fa fa-calendar m-r-5"></i>Hired</h4>
                <h4 class="m-r-10 pull-left"><b>{{vm.employee.hiredAt | date : 'yyyy-MM-dd'}}</b></h4>
            </div>
        </div>
        <div class="sol-sm-12">
            <table class="table table-condensed table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Apply Date</th>
                    <th>Rate</th>
                    <th>Rate Type</th>
                    <th>Other</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in vm.employee.rates | orderBy:'applyFrom'">
                    <td></td>
                    <td>{{item.applyFrom | date : 'yyyy-MM-dd'}}</td>
                    <td>${{item.rate}}</td>
                    <td>{{item.rateType }}</td>
                    <td>{{item.isCurrent ? 'Current' : '' }}</td>
                    <td><button class="btn bgm-red waves-effect btn-flat" ng-click="vm.remove(item.id)">Remove</button> </td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="add-rate.html">
        <div class="modal-header">
            <h4 class="modal-title">Set Salary Rate</h4>
        </div>
        <div class="modal-body">
            <form name="newSalaryRateForm" novalidate ng-submit="submitForm(newSalaryRateForm.$valid)">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd m-r-5"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="Salary Rate" name="rate" ng-model="data.rate" required ng-pattern="salaryRateRegex">
                                </div>
                            </div>
                            <div ng-messages="newSalaryRateForm.rate.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Salary Rate is required</small>
                                <small ng-message="pattern" class="text-danger">Salary Rate should be decimal</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <select chosen
                                    ng-model="data.rateType"
                                    data-placeholder="Hourly / Monthly"
                                    disable-search="true">
                                <option value="Monthly">Monthly</option>
                                <option value="Hourly">Hourly</option>
                            </select>
                            <div ng-messages="newSalaryRateForm.salaryRateType.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Salary Rate Type is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-15">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="checkbox input-group">
                                <label>
                                    <input type="checkbox" name="isCurrent" ng-model="data.isCurrent" />
                                    <i class="input-helper"></i>
                                    Set Current
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <div date-wrapper ng-model="data.applyFrom" name="applyFrom" color="blue" placeholder="Apply from" required="required"></div>
                            <div ng-messages="newSalaryRateForm.applyFrom.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Evaluate date is required</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button class="btn btn-primary btn-sm btn-flat" type="button" ng-click="ok(newSalaryRateForm.$valid)"><i class="fa fa-check m-r-5"></i>Save</button>
                    <button class="btn btn-warning btn-sm btn-flat" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>

</div>

