<div class="block-header">
    <h2><i class="fa fa-users"></i>Employees reports</h2>
</div>
<div class="card" ng-controller="reportsController as rctrl">
    <div class="card-header ch-alt m-b-20">
        <h2>Manage employee reports<small>Check what your stuff doing by day.</small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="form-inline p-b-30" role="form">
            <div class="col-sm-5">
                <label>Change report period</label>
                <div class="form-group fg-line">
                    <div date-wrapper ng-model="rctrl.reportPeriod" color="blue" datepicker-options="rctrl.reportDateOptions" format="MMMM-yyyy"></div>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-sm m-t-5 waves-effect btn-flat btn-block" type="submit" ng-click="rctrl.changeReportPeriod()">Apply</button>
            </div>
        </div>

        <div class="sol-sm-12">
            <table class="table table-condensed">
                <tr ng-repeat-start="item in rctrl.employees | orderBy:'fullName'">
                    <td class="col-sm-1"></td>
                    <td class="col-sm-6">{{item.fullName}}</td>
                    <td class="col-sm-2">{{item.reportedHours}}</td>
                    <td class="col-sm-3">
                        <button class="btn btn-default btn-flat btn-xs" ng-click="rctrl.detalis(item)" >
                            <i class="fa fa-sort-desc"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end="">
                    <td ng-if="item.expanded" colspan="4">
                        <div class="col-sm-12" ng-include src="item.detailTemplate"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="report-detail.html">
        <div class="pmbb-view m-b-30">
            <div class="row" ng-repeat-start="item in rctrl.reportDetails" ng-if="!item.expanded">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        {{item.date | date : 'yyyy-MM-dd'}}
                    </div>
                    <div class="col-sm-7">
                        {{item.description}}
                    </div>
                    <div class="col-sm-1">
                        {{item.hours}}
                    </div>
                    <div class="col-sm-2">
                        <button class="btn bgm-orange waves-effect btn-flat btn-xs" ng-click="rctrl.editReportItem(item)"><i class="fa fa-pencil"></i></button>
                        <button class="btn bgm-red waves-effect btn-flat btn-xs" ng-click="rctrl.remove(item.id)"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="row row-edit" ng-repeat-end ng-if="item.edited">
                <div class="col-sm-12" ng-include src="item.editTemplate"></div>
            </div>
            <div class="col-sm-2">
                <h6>TOTAL HOURSE</h6>
            </div>
            <div class="col-sm-1 col-sm-offset-7">
                <h6 total-report="rctrl.reportDetails"></h6>
            </div>
        </div>
        <div ng-include="'app/templates/add-report-form.html'"></div>
    </script>

</div>

