﻿<div class="block-header">
    <h2><i class="fa fa-money m-r-5"></i>Salary</h2>
</div>
<div class="card" ng-controller="salaryController as vm">
    <div class="card-header ch-alt m-b-20">
        <h2>Salary calculation<small>Previous periods are calculated. If previous period isn't calculated you might to do new calculations or re-calculate existing.</small>
        </h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card-body card-padding">

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-2 form-topic">
                    Salary period
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-flat" ng-click="vm.getPreviosPeriod()" ng-disabled="vm.period == ''"><i class="fa fa-chevron-left m-r-5"></i>previous</button>
                </div>
                <div class="form-group col-sm-4">
                    <div class="form-group fg-line">
                        <div date-wrapper ng-model="vm.salaryPeriod" color="blue" datepicker-options="vm.dateOptions" format="MMMM-yyyy" name="dateTo"></div>
                    </div>
                    <div ng-messages="vacationForm.dateTo.$error" role="alert" ng-if="submitted">
                        <small ng-message="required" class="text-danger">Date is required</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-primary btn-block btn-flat" ng-click="vm.getNextPeriod()" ng-disabled="vm.period == '' || vm.maxDateReached()">next<i class="fa fa-chevron-right m-l-5"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Choose the salary period and fill in the form below to calculate salary for employees
            </div>
        </div>

        <div ng-include src="vm.salaryTemplate">
            <!-- template will be rendered there -->
        </div>

    </div>
</div>

<script type="text/ng-template" id="evaluate-salary.html">
    <div class="row">
        <div class="sol-sm-8">
            <div class="width-70 table-salary bs-item z-depth-1  m-20" ng-repeat="item in vm.emploeeys | orderBy : 'name' " ng-if="item.workedDays != 0">
                <table class="table table-condensed">
                    <tr>
                        <td colspan="3">
                            <span>
                                <b>{{item.name}}</b>
                            </span>
                            &nbsp;
                            <span>Current Rate</span>
                            &nbsp;
                            <span>
                                <i class="fa fa-usd"></i> {{item.rate}}
                            </span>
                        </td>
                    </tr>
                    <tr ng-if="item.salaryRateType == 'Hourly'">
                        <td class="width-50">Reported hours</td>
                        <td></td>
                        <td>
                            <div class="fg-line">
                                <input type="number" class="form-control" placeholder="Reported Hours" ng-model="item.reportedHours" use-default="0" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-50">Salary</td>
                        <td class="cell-days">{{item.workingDays}}</td>
                        <td class="cell-money">
                            <div class="input-group">
                                <span class="input-group-addon text"><i class="fa fa-usd"></i></span>
                                {{item.workingSum}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-50">Vacation</td>
                        <td>
                            {{item.vacationDays}}
                            <span class="badge badge-alert" ng-if="item.vacationDaysUnpaid != 0">{{item.vacationDaysUnpaid}}</span>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon text"><i class="fa fa-usd"></i></span>
                                {{item.vacationSum}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-50">Sickness</td>
                        <td>
                            {{item.sicknessDays}}
                            <span class="badge badge-alert" ng-if="item.sicknessDaysUnpaid != 0">{{item.sicknessDaysUnpaid}}</span>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon text"><i class="fa fa-usd"></i></span>
                                {{item.sicknessSum}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-50">Advance</td>
                        <td></td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                <div class="fg-line">
                                    <input type="number" class="form-control" placeholder="Advance" ng-model="item.advance" use-default="0" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="width-50">Other grants</td>
                        <td></td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                <div class="fg-line">
                                    <input type="number" class="form-control" placeholder="Other grants" ng-model="item.otherGrants" use-default="0" />
                                </div>
                                </div>
                        </td>
                    </tr>
                    <tr class="active">
                        <td class="width-50">
                            To Pay
                        </td>
                        <td></td>
                        <td class="to-pay">
                            <i class="fa fa-usd"></i>
                            <div total-salary
                                 workedpay="item.workingSum"
                                 ratetype="item.salaryRateType"
                                 rate="item.rate"
                                 vacation="item.vacationSum"
                                 sickness="item.sicknessSum"
                                 advance="item.advance"
                                 othergrants="item.otherGrants"
                                 reportedhours="item.reportedHours"
                                 grandtotal="item.evaluatedSalary">{{grandtotal}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>Total salary</span><i class="fa fa-usd m-l-10"></i><span grand-total-salary employees-collection="vm.emploeeys"></span>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="row mt-20 col-sm-3">
            <button class="btn btn-primary btn-flat btn-block btn-sm" ng-click="vm.saveInterimResults()">Save Interim Salary</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-flat btn-block btn-sm" ng-click="vm.saveChanges()">Apply Salary Calculation</button>
        </div>
    </div>    
</script>

<script type="text/ng-template" id="calculated-salary.html">
    <div class="row">
        <div class="sol-sm-12">
            <div class="width-70 table-salary" ng-repeat="item in vm.emploeeys | orderBy : 'name' " ng-if="item.workedDays != 0">
                <table class="table table-condensed">
                    <tr>
                        <td colspan="3">
                            <span>
                                <b>{{item.name}}</b>
                            </span>
                            &nbsp;
                            <span>Current Rate</span>
                            &nbsp;
                            <span><i class="fa fa-usd"></i>{{item.rate}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.salaryRateType == 'Hourly'">
                        <td class="width-50">Reported hours</td>
                        <td></td>
                        <td>{{item.reportedHours}}</td>
                    </tr>
                    <tr>
                        <td class="width-50">Salary</td>
                        <td class="width-20">{{item.workingDays}}</td>
                        <td class="cell-money"><span><i class="fa fa-usd"></i>{{item.workingSum}}</span></td>
                    </tr>
                    <tr ng-if="item.vacationDays != 0 && item.vacationSum != 0">
                        <td class="width-50">Vacation</td>
                        <td>
                            {{item.vacationDays}}
                            <span class="badge badge-alert" ng-if="item.vacationDaysUnpaid != 0">{{item.vacationDaysUnpaid}}</span>
                        </td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.vacationSum}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.sicknessDays != 0 && item.sicknessSum != 0">
                        <td class="width-50">Sickness</td>
                        <td>
                            {{item.sicknessDays}}
                            <span class="badge badge-alert" ng-if="item.sicknessDaysUnpaid != 0">{{item.sicknessDaysUnpaid}}</span>
                        </td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.sicknessSum}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.advance != 0">
                        <td class="width-50">Advance</td>
                        <td></td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.advance}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.otherGrants != 0">
                        <td class="width-50">Other grants</td>
                        <td></td>
                        <td><span><i class="fa fa-usd"></i>{{item.otherGrants}}</span></td>
                    </tr>
                    <tr class="active">
                        <td class="width-50">
                            To Pay
                        </td>
                        <td></td>
                        <td class="to-pay">
                            <span><i class="fa fa-usd"></i></span>
                            <span total-salary
                                    workedpay="item.workingSum"
                                    ratetype="item.salaryRateType"
                                    rate="item.rate"
                                    vacation="item.vacationSum"
                                    sickness="item.sicknessSum"
                                    advance="item.advance"
                                    othergrants="item.otherGrants"
                                    reportedhours="item.reportedHours"
                                    grandtotal="item.evaluatedSalary">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>Total salary</span><i class="fa fa-usd m-l-10"></i><span grand-total-salary employees-collection="vm.emploeeys"></span>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-sm-3">
            <button class="btn btn-primary btn-flat btn-block btn-sm" ng-click="vm.recalculateSalary()">Recalculate salary</button>
        </div>
    </div>
</script>