﻿<div class="block-header">
    <h2><i class="fa fa-plane m-r-5"></i>Vacations / <i class="fa fa-ambulance m-r-5"></i> Sickness</h2>
</div>
<div class="card" ng-controller="vacationsController as vm">
    <div class="card-header ch-alt m-b-20">
        <h2>Manage employees vacations and sickness <small></small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card-body card-padding">

        <div class="sol-sm-12">
            <table class="table table-condensed sol-sm-12">
                <thead>
                <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2" class="text-left">Name</th>
                    <th colspan="2" class="text-center">vacation</th>
                    <th colspan="2" class="text-center">Sickness</th>
                    <th rowspan="2" class="text-left"></th>
                </tr>
                <tr>
                    <th class="text-right">Used</th>
                    <th class="text-right">Available</th>
                    <th class="text-right">Used</th>
                    <th class="text-right">Available</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="item in vm.employees | orderBy:'employeeName'" ng-class="{'dismissed-employee': item.dismissed }">
                        <td  class="col-sm-1">{{$index + 1}}</td>
                        <td class="col-sm-2"><i class="fa fa-user m-r-5"></i>{{item.employeeName}}</td>
                        <td class="text-right col-sm-1">{{item.vacationUsedDays}}</td>
                        <td class="text-right col-sm-1">{{item.vacationAvailableDays }}</td>
                        <td class="text-right col-sm-1">{{item.sicnessUsedDays}}</td>
                        <td class="text-right col-sm-1">{{item.sicnessRemainsPaidDays}}</td>
                        <td class="col-sm-4">
                            <button class="btn btn-primary btn-xs m-l-5 m-r-5 btn-flat" ng-click="vm.setVacation(item.id)" ng-disabled="item.dismissed">Add day off</button>
                            <button class="btn btn-primary btn-xs m-l-5 m-r-5 btn-flat" ng-click="vm.expandHistory(item, this)" ng-disabled="item.usedVacations.length == 0 && item.sicnessUsedDays.length == 0">
                                <i class="fa fa-info m-r-5"></i>History
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat-end="" ng-if="item.expanded">
                        <td colspan="7">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 inner-table">
                                        <p>Vacation history</p>
                                        <table class="table table-condensed">
                                            <tr>
                                                <th>#</th>
                                                <th>Date from</th>
                                                <th>Date to</th>
                                                <th>Days</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="vacation in item.usedVacations | orderBy:'from'">
                                                <td>{{$index + 1}}</td>
                                                <td>{{vacation.from | date : 'yyyy-MM-dd'}}</td>
                                                <td>{{vacation.to | date : 'yyyy-MM-dd'}}</td>
                                                <td ng-if="!vacation.unpaid">{{vacation.used}}</td>
                                                <td ng-if="vacation.unpaid"><span class="badge badge-alert">{{vacation.used}}</span> </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs m-l-5 m-r-5 btn-flat" ng-click="vm.removeMistaken(vacation.id)">Remove mistaken</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-6 inner-table">
                                        <p>Sickness history</p>
                                        <table class="table table-condensed">
                                            <tr>
                                                <th>#</th>
                                                <th>Date from</th>
                                                <th>Date to</th>
                                                <th>Days</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="vacation in item.usedSickness | orderBy:'from'">
                                                <td>{{$index + 1}}</td>
                                                <td>{{vacation.from | date : 'yyyy-MM-dd'}}</td>
                                                <td>{{vacation.to | date : 'yyyy-MM-dd'}}</td>
                                                <td ng-if="!vacation.unpaid">{{vacation.used}}</td>
                                                <td ng-if="vacation.unpaid"><span class="badge badge-alert">{{vacation.used}}</span> </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs m-l-5 m-r-5 btn-flat" ng-click="vm.removeMistaken(vacation.id)">Remove mistaken</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script type="text/ng-template" id="add-vacation.html">
        <div class="modal-header">
            <h4 class="modal-title">Add day off</h4>
            <div ng-if="show" class="p-absolute">
                <small class="text-danger">Paid Vacations left: {{result.paidVacations}} </small>
                <small class="text-danger">Paid Sickness left: {{result.paidSikcness}}</small>
            </div>
        </div>
        <div class="modal-body">
            <form name="vacationForm" novalidate ng-submit="submitForm(vacationForm.$valid)">
                <div class="row">
                    <div class="form-group col-sm-6">

                        <div date-wrapper ng-model="data.from" required="required" name="dateFrom" color="blue" placeholder="From day"></div>
                        <div ng-messages="vacationForm.dateFrom.$error" role="alert" ng-if="submitted">
                            <small ng-message="required" class="text-danger">Date is required</small>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div date-wrapper ng-model="data.to" required="required" name="dateTo" color="green" placeholder="To day"></div>
                        <div ng-messages="vacationForm.dateTo.$error" role="alert" ng-if="submitted">
                            <small ng-message="required" class="text-danger">Date is required</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="btn-group">
                            <label class="btn btn-primary btn-flat waves-effect p-l-10 p-r-10" ng-model="data.wholeDay" uib-btn-radio="true">Whole day</label>
                            <label class="btn btn-primary btn-flat waves-effect p-l-10 p-r-10" ng-model="data.wholeDay" uib-btn-radio="false">Half day</label>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <select chosen
                                ng-model="data.dayOffType"
                                data-placeholder="Hourly / Monthly"
                                disable-search="true">
                            <option value="Vacation">Vacation</option>
                            <option value="Sickness">Sickness</option>
                        </select>
                        <div ng-messages="vacationForm.dayOffType.$error" role="alert" ng-if="submitted">
                            <p ng-message="required" class="text-danger">Day Off Type is required</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="checkbox input-group">
                            <label>
                                <input type="checkbox" name="isCurrent" ng-model="data.unpaid" />
                                <i class="input-helper"></i>
                                Unpaid
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button class="btn btn-primary btn-sm btn-flat" type="button" ng-click="ok(vacationForm.$valid)"><i class="fa fa-check m-r-5"></i>Save</button>
                    <button class="btn btn-warning btn-sm btn-flat" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>
</div>


