﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@model TeamStuff.mvc.Infrastructure.ViewModels.LoginModel

<!-- Login -->
<div ng-controller="loginCtrl as vm">
    <div class="lc-block toggled" id="l-login">

        <div class="card-header">
            <h2>DevRecords TeamStuff</h2>
        </div>
        @Html.ValidationSummary(false)
        <form name="vm.loginForm" novalidate ng-submit="vm.submitForm($event, vm.loginForm.$valid)" role="form" action="/account/login" method="POST">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="User Name" name="userName" ng-model="vm.data.userName" required />
                </div>
                <div ng-messages="vm.loginForm.userName.$error" role="alert" ng-if="vm.submitted">
                    <small ng-message="required" class="text-danger">Email is required</small>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.data.password" required />
                </div>
                <div ng-messages="vm.loginForm.password.$error" role="alert" ng-if="vm.submitted">
                    <small ng-message="required" class="text-danger">Password is required</small>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="persistent" />
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>

            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>

        </form>

    </div>

</div>