﻿<button class="btn btn-full btn-default dropdown-toggle" ng-click="onMenuOpen($event)" type="button">
    <span class="word-wrap">{{headerText}}</span><i class="{{iconClass}}"></i>
</button>

<ul class="dropdown-menu hide" role="menu">
    <li ng-repeat="item in collection" ng-click="onChange($event, item)" data-id="{{item[itemValue]}}">
        <a href="#">{{item[itemText]}}</a>
        <!--<label class="item item-radio">
            <i class="disable-pointer-events icon" ng-class="isSelected(item)"></i>
            <input type="radio" value="" name="radio"/>
            <div class="item-content">
                <span>{{item[itemText]}}</span>
            </div>
        </label>-->
    </li>
</ul>