<div class="date-picker input-group dp-{{dctrl.color}}" ng-class="{ 'is-opened': dctrl.options.opened == true }">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <div class="fg-line" ng-class="{ 'fg-toggled': dctrl.options.opened == true }">
        <input name="{{dctrl.name}}" type="text"
               class="form-control f-14"
               ng-click="dctrl.options.open($event)"
               uib-datepicker-popup="{{dctrl.dateformat}}"
               ng-model="dctrl.model"
               is-open="dctrl.options.opened"
               max-date="'2020-01-01'"
               datepicker-options="dctrl.options.dateOptions"
               close-text="Close"
               placeholder="{{dctrl.placeholder}}"
               ng-required="dctrl.required"/>
    </div>
</div>