<form data-ng-submit="rctrl.addReport(rctrl.reportForm.$valid)" class="pmbb-edit" name="rctrl.reportForm" novalidate>
    <div class="col-sm-12">
        <h4>Add report</h4>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div date-wrapper ng-model="rctrl.data.date" required="required" name="date" color="blue"></div>
            <div ng-messages="rctrl.reportForm.date.$error" role="alert" ng-if="rctrl.submitted">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Date is required</small>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="fg-line">
                <input ng-model="rctrl.data.description" name="description"
                       class="form-control f-14"
                       placeholder="Summary..."
                       required />
            </div>
            <div ng-messages="rctrl.reportForm.description.$error" role="alert" ng-if="rctrl.submitted">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Description is required</small>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="fg-line">
                <input ng-model="rctrl.data.hours" name="hours" class="form-control f-14" required ng-pattern="rctrl.decimalRegex" />
            </div>
            <div ng-messages="rctrl.reportForm.hours.$error" role="alert" ng-if="rctrl.submitted">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Hours is required</small>
                <small ng-message="pattern" class="text-danger validate-p-absolute">Report Hours should be decimal</small>
            </div>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary btn-sm btn-flat waves-effect" type="submit"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>