<div class="sidebar-inner c-overflow">    
    <ul class="main-menu">
        <li ui-sref-active="">
            <a ui-sref="employees"><i class="fa fa-users"></i>Employees</a>
        </li>
        <li data-ui-sref-active="">
            <a ui-sref="vacations"><i class="zmdi zmdi-airplane"></i> Vacations</a>
        </li>
        <li data-ui-sref-active="">
            <a ui-sref="salary"><i class="zmdi zmdi-money"></i> Salary</a>
        </li>
        <li data-ui-sref-active="">
            <a ui-sref="reports"><i class="zmdi zmdi-equalizer"></i> Reports</a>
        </li>
    </ul>
</div>
