<form data-ng-submit="rctrl.submitEditReport(rctrl.editReportForm.$valid)" class="pmbb-edit" name="rctrl.editReportForm" novalidate>
    <div class="row">
        <div class="col-sm-2">
            <div date-wrapper ng-model="rctrl.edited.date" required="required" name="date" color="green"></div>
            <div ng-messages="rctrl.editReportForm.date.$error" role="alert" ng-if="rctrl.submitEdited">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Date is required</small>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="fg-line">
                <input ng-model="rctrl.edited.description" name="description"
                       class="form-control f-14"
                       placeholder="Summary..."
                       required />
            </div>
            <div ng-messages="rctrl.editReportForm.description.$error" role="alert" ng-if="rctrl.submitEdited">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Description is required</small>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="fg-line">
                <input ng-model="rctrl.edited.hours" name="hours" class="form-control f-14" required ng-pattern="rctrl.decimalRegex" />
            </div>
            <div ng-messages="rctrl.editReportForm.hours.$error" role="alert" ng-if="rctrl.submitEdited">
                <small ng-message="required" class="text-danger validate-p-absolute">Report Hours is required</small>
                <small ng-message="pattern" class="text-danger validate-p-absolute">Report Hours should be decimal</small>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn bgm-deeporange btn-xs btn-flat waves-effect" type="submit"><i class="fa fa-check"></i></button>
            <button class="btn btn-link btn-sm" ng-click="rctrl.editReportItemCancel(rctrl.edited)">Cancel</button>
        </div>
    </div>
</form>