<form name="vm.employeeForm" novalidate ng-submit="vm.submitForm(vm.employeeForm.$valid)">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Frst Name" name="firstName" ng-model="vm.data.firstName" required ng-maxlength="100">
                    </div>
                    <div ng-messages="vm.employeeForm.firstName.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">First name is required</small>
                        <small ng-message="maxlength" class="text-danger">First name length should be less then 100 symbols</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div date-wrapper ng-model="vm.data.birthday" required="required" name="birthday" color="blue" placeholder="Birthday"></div>
                <div ng-messages="vm.employeeForm.birthday.$error" role="alert" ng-if="vm.submitted">
                    <small ng-message="required" class="text-danger">Birthday is required</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="vm.data.lastName" required ng-maxlength="100">
                    </div>
                    <div ng-messages="vm.employeeForm.lastName.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">Last name is required</small>
                        <small ng-message="maxlength" class="text-danger">Max length should be less then 100 symbols</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div date-wrapper ng-model="vm.data.hiredAt" required="required" name="hiredAt" color="blue" class="m-t-10" placeholder="Hired At"></div>
                <div ng-messages="vm.employeeForm.hiredAt.$error" role="alert" ng-if="vm.submitted">
                    <small ng-message="required" class="text-danger">Hired At is required</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="User Name" name="userName" ng-model="vm.data.userName" required ng-maxlength="20">
                    </div>
                    <div ng-messages="vm.employeeForm.userName.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">User Name is required</small>
                        <small ng-message="maxlength" class="text-danger">User Name length should be less then 20 symbols</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div date-wrapper ng-model="vm.data.dismissAt" name="dismissAt" color="blue" class="m-t-10" placeholder="Dismiss At"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <div class="fg-line">
                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="vm.data.email" required ng-maxlength="100">
                    </div>
                    <div ng-messages="vm.employeeForm.email.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">Email is required</small>
                        <small ng-message="maxlength" class="text-danger">Email length should be less then 100 symbols</small>
                        <small ng-message="email" class="text-danger">Email is incorrect</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-coffee"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Job Position" name="jobPosition" ng-model="vm.data.jobPosition" required ng-maxlength="100">
                    </div>
                    <div ng-messages="vm.employeeForm.jobPosition.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">How about Job Position?</small>
                        <small ng-message="maxlength" class="text-danger">Job Position length should be less then 100 symbols</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <div class="row" ng-show="!vm.data.editing">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <div class="fg-line">
                        <input type="text" ng-model="vm.data.mobilePhone" ui-mask="+38 (099) 999 99 99" ui-mask-placeholder="" ui-mask-placeholder-char="_" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Salary Rate" name="salaryRate" ng-model="vm.data.salaryRate" required ng-pattern="vm.salaryRateRegex">
                    </div>
                    <select chosen
                            ng-model="vm.data.salaryRateTypeName"
                            data-placeholder="Hourly / Monthly"
                            disable-search="true">
                        <option value="Monthly">Monthly</option>
                        <option value="Hourly">Hourly</option>
                    </select>
                    <div ng-messages="vm.employeeForm.salaryRate.$error" role="alert" ng-if="vm.submitted">
                        <small ng-message="required" class="text-danger">Salary Rate is required</small>
                        <small ng-message="pattern" class="text-danger">Salary Rate should be decimal</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-primary btn-sm btn-flat btn-block" type="submit"><i class="fa fa-check m-r-5"></i>Save</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-warning btn-sm btn-flat btn-block" type="button" ng-click="vm.goBack()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>