<ul class="header-inner clearfix">
    <li class="logo hidden-xs">
        <a ui-sref="home">Tem Stuff</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li>
                <a href="/account/signout">
                    <span class="tm-label">Sign Out</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
