<li class="btn-wave" ui-sref-active="active"><a ui-sref="profile.profile-about">About</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="profile.profile-rate">Rate History</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="profile.profile-salary">Salary</a></li>
<li class="btn-wave" ui-sref-active="active"><a ui-sref="profile.profile-dayoff">DayOff / Sickness</a></li>
