<div class="sidebar-inner c-overflow">
    <ul class="main-menu">
        <li ui-sref-active="">
            <a ui-sref="profile.profile-about"><i class="fa fa-users"></i>Profile</a>
        </li>
        <li data-ui-sref-active="">
            <a ui-sref="report"><i class="zmdi zmdi-equalizer"></i>Peport</a>
        </li>
    </ul>
</div>