﻿body {
  font-size: 13px;
}
.text-danger {
  color: #f77066;
}
.fade-sub-view {
  position: absolute;
  left: 300px;
  height: 100%;
  right: 30px;
  opacity: 1;
}
.fade-view {
  top: 100px;
  position: absolute;
  left: 300px;
  height: 100%;
  right: 30px;
  opacity: 1;
}
.fade-sub-view.ng-enter,
.fade-sub-view.ng-leave,
.fade-view.ng-enter,
.fade-view.ng-leave {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fade-sub-view.ng-enter,
.fade-view.ng-enter {
  right: -130px;
  left: 400px;
  opacity: 0;
}
.fade-sub-view.ng-enter-active,
.fade-view.ng-enter-active {
  right: 30px;
  left: 300px;
  opacity: 1;
}
.fade-sub-view.ng-leave,
.fade-view.ng-leave {
  right: 30px;
  left: 300px;
  opacity: 1;
}
.fade-sub-view.ng-leave-active,
.fade-view.ng-leave-active {
  right: -130px;
  left: 400px;
  opacity: 0;
}
.new-rate-modal .modal-body {
  height: 160px;
}
.width-70 {
  width: 70%;
}
.table-salary .text {
  padding-top: 3px;
}
.table-salary input {
  font-size: 15px;
}
.table-salary .to-pay i {
  margin-top: 3px;
  float: left;
}
.table-salary .table > tbody > tr:last-child > td,
.table-salary .table > tfoot > tr:last-child > td {
  padding-bottom: 7px;
}
.table-salary .width-50 {
  width: 50%;
}
.table-salary .width-20 {
  width: 20%;
}
button.btn.btn-flat {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.chosen-container {
  width: 100% !important;
}
form[name=newSalaryRateForm] .checkbox label {
  margin-left: 12px;
  padding-left: 20px;
}
form[name=newSalaryRateForm] .checkbox input {
  top: 2px;
}
form[name=newSalaryRateForm] .date-picker span {
  padding: 6px 12px 6px 0;
  min-width: 23px;
}
.badge-alert {
  background-color: #f77066;
}
.lc-block {
  position: absolute;
  left: 35%;
  top: 30%;
}
.pmb-block {
  padding: 20px 42px 0 20px;
}
#profile-main {
  min-height: 1500px;
}
.table .table {
  background-color: #eff6fb;
}
.w-20 {
  width: 20%;
}
.w-60 {
  width: 60%;
}
.w-10 {
  width: 10%;
}
.validate-p-absolute {
  top: 40px;
  width: 200px;
  position: absolute;
}
.report-form .card-body {
  min-height: 800px;
}
.report-form i {
  margin: 0;
}
.report-form .pmbb-view .row {
  border-bottom: solid 1px #ddd;
  padding-bottom: 5px;
}
.report-form .pmbb-view .row-edit {
  padding-top: 10px;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
.report-form .pmbb-view .row-edit .row {
  border: none;
}
.report-form .pmbb-view .row-edit input.form-control {
  border: none;
  color: #FF5722 !important;
}
.report-form .pmbb-view .row-edit button {
  margin-top: 5px;
}
@media all and (min-width: 768px) {
  .modal-dialog {
    margin-top: 300px !important;
  }
}