<div ng-controller="profileSalaryCtrl as sctrl">
    <div class="pmb-block">
        <div style="width: 50%;">
            <select chosen
                    ng-model="sctrl.salaryYear"
                    ng-change="sctrl.yearChanged(year)"
                    data-placeholder="Year"
                    ng-options="year for year in sctrl.salaryYearCollection"
                    disable-search="true">
                <option value=""></option>
            </select>
        </div>

        <div class="sol-sm-12">
            <div class="width-70 table-salary" ng-repeat="item in sctrl.salaries | orderBy : 'period' : true ">
                <table class="table table-condensed m-b-15">
                    <tr>
                        <td colspan="3">
                            <h5>
                                <span>
                                    {{item.period | date : 'MMMM - yyyy' }}
                                </span>
                                &nbsp;
                                <span>Rate</span>
                                &nbsp;
                                <span><i class="fa fa-usd"></i>{{item.rate}}</span>
                            </h5>
                        </td>
                    </tr>
                    <tr ng-if="item.salaryRateType == 'Hourly'">
                        <td class="width-50">Reported hours</td>
                        <td></td>
                        <td>{{item.reportedHours}}</td>
                    </tr>
                    <tr>
                        <td class="width-50">Salary</td>
                        <td class="width-20">{{item.workingDays}}</td>
                        <td class="cell-money"><span><i class="fa fa-usd"></i>{{item.workingSum}}</span></td>
                    </tr>
                    <tr ng-if="item.vacationDays != 0 && item.vacationSum != 0">
                        <td class="width-50">Vacation</td>
                        <td>{{item.vacationDays}}</td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.vacationSum}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.sicknessDays != 0 && item.sicknessSum != 0">
                        <td class="width-50">Sickness</td>
                        <td>{{item.sicknessDays}}</td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.sicknessSum}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.advance != 0">
                        <td class="width-50">Advance</td>
                        <td></td>
                        <td>
                            <span><i class="fa fa-usd"></i>{{item.advance}}</span>
                        </td>
                    </tr>
                    <tr ng-if="item.otherGrants != 0">
                        <td class="width-50">Other grants</td>
                        <td></td>
                        <td><span><i class="fa fa-usd"></i>{{item.otherGrants}}</span></td>
                    </tr>
                    <tr class="active">
                        <td class="width-50">
                            Paid
                        </td>
                        <td></td>
                        <td class="to-pay">
                            <span><i class="fa fa-usd"></i></span>
                            <span total-salary
                                  workedpay="item.workingSum"
                                  ratetype="item.salaryRateType"
                                  rate="item.rate"
                                  vacation="item.vacationSum"
                                  sickness="item.sicknessSum"
                                  advance="item.advance"
                                  othergrants="item.otherGrants"
                                  reportedhours="item.reportedHours"
                                  grandtotal="item.evaluatedSalary">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>