<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i>  Basic Information</h2>

        <ul class="actions" data-ng-if="pctrl.editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Full Name</dt>
                <dd>{{pctrl.profile.firstName}} {{pctrl.profile.lastName}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Birthday</dt>
                <dd>{{ pctrl.profile.birthday | date:'yyyy-MM-dd' }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Hired At</dt>
                <dd>{{ pctrl.profile.hiredAt | date:'yyyy-MM-dd' }}</dd>
            </dl>
        </div>

        <form ng-submit="pctrl.submitProfile(pctrl.editProfileForm.$valid)" class="pmbb-edit" ng-if="pctrl.editInfo === 1" name="pctrl.editProfileForm">
            <dl class="dl-horizontal">
                <dt class="p-t-10">First Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pctrl.profile.firstName" type="text" class="form-control" value="{{pctrl.profile.firstName}}" required/>
                    </div>
                    <div ng-messages="pctrl.editProfileForm.firstName.$error" role="alert" ng-if="pctrl.profileSubmitted">
                        <small ng-message="required" class="text-danger">first name is required</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Last Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pctrl.profile.lastName" type="text" class="form-control" value="{{pctrl.profile.lastName}}" required/>
                    </div>
                    <div ng-messages="pctrl.editProfileForm.lastName.$error" role="alert" ng-if="pctrl.profileSubmitted">
                        <small ng-message="required" class="text-danger">last name is required</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Birthday</dt>
                <dd>
                    <div date-wrapper ng-model="pctrl.profile.birthday" name="birthday" color="green" placeholder="Birthday" required="required"></div>
                    <div ng-messages="pctrl.editProfileForm.birthday.$error" role="alert" ng-if="pctrl.profileSubmitted">
                        <small ng-message="required" class="text-danger">Birthday is required</small>
                    </div>
                </dd>
            </dl>
            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-flat" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

        <ul class="actions" data-ng-if="pctrl.editContact === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editContact === 0">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>{{ pctrl.profile.mobilePhone | mobile }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>{{ pctrl.profile.email }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>{{ pctrl.profile.skype }}</dd>
            </dl>
        </div>

        <form ng-submit="pctrl.submitContact(pctrl.editContactForm.$valid)" class="pmbb-edit" ng-if="pctrl.editContact === 1" name="pctrl.editContactForm">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pctrl.profile.mobilePhone" type="text" class="form-control f-14" value="{{pctrl.profile.mobilePhone}}" required 
                               ui-mask="+38 (099) 999 99 99" ui-mask-placeholder="" ui-mask-placeholder-char="_" />
                    </div>
                    <div ng-messages="pctrl.editContactForm.mobilePhone.$error" role="alert" ng-if="pctrl.contactSubmitted">
                        <small ng-message="required" class="text-danger">first name is required</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pctrl.profile.email" type="text" class="form-control" value="{{pctrl.profile.email}}" required />
                    </div>
                    <div ng-messages="pctrl.editContactForm.email.$error" role="alert" ng-if="pctrl.contactSubmitted">
                        <small ng-message="required" class="text-danger">first name is required</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pctrl.profile.skype" type="text" class="form-control" value="{{pctrl.profile.skype}}" required />
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-flat" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editContact = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>
