<div class="pmb-block">
    <table class="table i-table m-b-25" ng-controller="profileRateCtrl as rctrl">
        <tr>
            <th class="c-black f-400 m-b-5">
                Description
            </th>
            <th class="c-black f-400 m-b-5">
                Sum
            </th>
        </tr>
        <tr ng-repeat="item in rctrl.rates | orderBy:'applyFrom'">
            <td width="50%">
                <h5 class="text-uppercase f-400 c-gray">Applied from {{item.applyFrom | date : 'yyyy-MM-dd'}}</h5>
                <span class="text-muted c-green">{{item.rateType }}</span>
                <p class="text-muted c-blue" ng-if="item.isCurrent">Current</p>
            </td>
            <td>
                <h5 class="text-uppercase f-400"><i class="fa fa-usd"></i>{{item.rate}}</h5>
            </td>
        </tr>
    </table>
</div>