<div ng-controller="profileCtrl as pctrl">

    <div class="block-header">
        <h2>{{pctrl.profile.firstName}} {{pctrl.profile.lastName}}<small>Web/UI Developer, Ukraine, Lviv</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="" ng-click="pctrl.accountSettings()">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="/Content/img/headers/square/1.png"/>
                    </a>
                    <a href="" class="pmop-edit">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                    </a>
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="fa fa-phone"></i> {{ pctrl.profile.mobilePhone | mobile }}</li>
                    <li><i class="fa fa-envelope"></i> {{ pctrl.profile.email }}</li>
                    <li><i class="fa fa-skype"></i> {{ pctrl.profile.skype }}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'Scripts/app/templates/profile-menu.html'"></ul>

            <data ui-view class="fade-sub-view"></data>

        </div>
    </div>

    <script type="text/ng-template" id="change-password.html">
        <div class="modal-header">
            <h4 class="modal-title">Change Account Settings</h4>
        </div>
        <div class="modal-body">
            <form name="changePasswordForm" novalidate ng-submit="submitForm(changePasswordForm.$valid)">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user m-r-5"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="User Name" name="userName" ng-model="data.userName" required />
                                </div>
                            </div>
                            <div ng-messages="changePasswordForm.userName.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">User Name is required. All is required at all.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-secret m-r-5"></i></span>
                                <div class="fg-line">
                                    <input type="password" class="form-control" placeholder="Old password" name="oldPassword" ng-model="data.oldPassword" required />
                                </div>
                            </div>
                            <div ng-messages="changePasswordForm.oldPassword.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Old Password is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-secret m-r-5"></i></span>
                                <div class="fg-line">
                                    <input type="password" class="form-control" placeholder="New password" name="newPassword" ng-model="data.newPassword" required />
                                </div>
                            </div>
                            <div ng-messages="changePasswordForm.newPassword.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Old Password is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-secret m-r-5"></i></span>
                                <div class="fg-line">
                                    <input type="password" class="form-control" placeholder="Comfirm password" name="confirmPassword" 
                                           ng-model="data.confirmPassword" required is-match="newPassword"/>
                                </div>
                            </div>
                            <div ng-messages="changePasswordForm.confirmPassword.$error" role="alert" ng-if="submitted">
                                <small ng-message="required" class="text-danger">Confirm Password is required</small>
                                <small ng-message="match" class="text-danger">Confirm Password should be identical to New Password</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button class="btn btn-primary btn-sm btn-flat" type="button" ng-click="ok(changePasswordForm.$valid)"><i class="fa fa-check m-r-5"></i>Save</button>
                    <button class="btn btn-warning btn-sm btn-flat" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>

</div>
