<div ng-controller="profileDayOffCtrl as dctrl">

    <div class="pmb-block">
        <div class="sol-sm-12">
            <table class="table table-condensed">
                <tr>
                    <th>
                        <p class="c-black f-400 m-b-5">Used vacation</p>
                    </th>
                    <th>
                        <p class="c-black f-400 m-b-5">Available vacation</p>
                    </th>
                    <th>
                        <p class="c-black f-400 m-b-5">Sickness</p>
                    </th>
                    <th>
                        <p class="c-black f-400 m-b-5">Available paid sickness</p>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td class="text-center c-alt">{{dctrl.daysoff.vacationUsedDays}}</td>
                    <td class="text-center c-green">{{dctrl.daysoff.vacationAvailableDays }}</td>
                    <td class="text-center">{{dctrl.daysoff.sicnessUsedDays}}</td>
                    <td class="text-center c-green">{{dctrl.daysoff.sicnessRemainsPaidDays}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs m-l-5 m-r-5 btn-flat" ng-click="dctrl.expandHistory()">
                            <i class="fa fa-info m-r-5"></i>History
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end="" ng-if="dctrl.expanded">
                    <td colspan="7">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6 inner-table">
                                    <p>Vacation history</p>
                                    <table class="table table-condensed">
                                        <tr>
                                            <th class="c-gray f-400 m-b-5">#</th>
                                            <th class="c-gray f-400 m-b-5">Date from</th>
                                            <th class="c-gray f-400 m-b-5">Date to</th>
                                            <th class="c-gray f-400 m-b-5">Days</th>
                                        </tr>
                                        <tbody>
                                            <tr ng-repeat="vacation in dctrl.daysoff.usedVacations | orderBy:'from'">
                                                <td>{{$index + 1}}</td>
                                                <td>{{vacation.from | date : 'yyyy-MM-dd'}}</td>
                                                <td>{{vacation.to | date : 'yyyy-MM-dd'}}</td>
                                                <td ng-if="!vacation.unpaid" class="text-center">{{vacation.used}}</td>
                                                <td ng-if="vacation.unpaid" class="text-center"><span class="badge badge-alert">{{vacation.used}}</span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6 inner-table">
                                    <p>Sickness history</p>
                                    <table class="table table-condensed">
                                        <tr>
                                            <th class="c-gray f-400 m-b-5">#</th>
                                            <th class="c-gray f-400 m-b-5">Date from</th>
                                            <th class="c-gray f-400 m-b-5">Date to</th>
                                            <th class="c-gray f-400 m-b-5">Days</th>
                                        </tr>
                                        <tr ng-repeat="vacation in dctrl.daysoff.usedSickness | orderBy:'from'">
                                            <td>{{$index + 1}}</td>
                                            <td>{{vacation.from | date : 'yyyy-MM-dd'}}</td>
                                            <td>{{vacation.to | date : 'yyyy-MM-dd'}}</td>
                                            <td ng-if="!vacation.unpaid" class="text-center">{{vacation.used}}</td>
                                            <td ng-if="vacation.unpaid" class="text-center"><span class="badge badge-alert">{{vacation.used}}</span> </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div> 