<div class="block-header">
    <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Reports</h2>
</div>
<div class="card report-form" ng-controller="reportCtrl as rctrl">
    <div class="card-header ch-alt m-b-20">
        <h2>
            Manage your reports<small></small>
        </h2>
        <ul class="actions">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Change Date Range</a>
                    </li>
                    <li>
                        <a href="">Change Graph Type</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="pmbb-body">
            <div class="form-inline p-b-30" role="form">
                <div class="col-sm-5">
                    <label>Change report period</label>
                    <div class="form-group fg-line">
                        <div date-wrapper ng-model="rctrl.reportPeriod" color="blue" datepicker-options="rctrl.reportDateOptions" format="MMMM-yyyy" class="col-sm-6"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-sm m-t-5 waves-effect btn-flat btn-block" type="submit" ng-click="rctrl.changeReportPeriod()">change</button>
                </div>
            </div>
            <div class="pmbb-view m-t-30">
                <div class="row" ng-repeat-start="item in rctrl.reports" ng-if="!item.edited">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            {{item.date | date : 'yyyy-MM-dd'}}
                        </div>
                        <div class="col-sm-7">
                            {{item.description}}
                        </div>
                        <div class="col-sm-1">
                            {{item.hours}}
                        </div>
                        <div class="col-sm-2">
                            <button class="btn bgm-orange waves-effect btn-flat btn-xs" ng-click="rctrl.editReportItem(item)"><i class="fa fa-pencil"></i></button>
                            <button class="btn bgm-red waves-effect btn-flat btn-xs" ng-click="rctrl.remove(item.id)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row row-edit" ng-repeat-end ng-if="item.edited">
                    <div class="col-sm-12" ng-include src="item.editTemplate"></div>
                </div>
            </div>
            <div class="col-sm-2 m-b-30">
                <h6>TOTAL HOURSE</h6>
            </div>
            <div class="col-sm-1 col-sm-offset-7 m-b-30">
                <h6 total-report="rctrl.reports"></h6>
            </div>
            <div ng-include="'Scripts/app/templates/add-report-form.html'"></div>
        </div>
    </div>
</div>


